root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true

[*.{bazel,bzl,d,fs,fsi,fsproj,fsx,kt,kts,proto,py,rs,rst,tilt,ts,zig}]
indent_style = space
indent_size = 4

[{BUILD,setup.cfg,Tiltfile}]
indent_style = space
indent_size = 4

[*.{chpl,clj,erb,erl,fnl,js,jsonnet,lua,ml,mli,mll,mly,pony,rb,rkt,rockspec,scala,scm,sls,sml,tf,tfstate,thrift,toml,yaml,yml}]
indent_style = space
indent_size = 2

[dune]
indent_style = space
indent_size = 1
