add_trailing_comma
git+https://github.com/fsouza/autoflake.git@support-stdin
autopep8
black
flake8
flake8-bugbear
flake8-builtins
flake8-comprehensions
flake8-tidy-imports
isort
reorder_python_imports
